<%= simple_form_for(@variavel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ano %>
    <%= f.input :profundidade %>
    <%= f.input :areaAplicacao %>
    <%= f.association :produto, label_method: :nome, collection: Produto.where(user_id: current_user.id) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
