
<p>
  <strong>Ano:</strong>
  <%= @variavel.ano %>
</p>

<p>
  <strong>Profundidade:</strong>
  <%= @variavel.profundidade %>
</p>

<p>
  <strong>Areaaplicacao:</strong>
  <%= @variavel.areaAplicacao %>
</p>

<p>
  <strong>Prnt:</strong>
  <%= @variavel.prnt %>
</p>

<%= link_to 'Edit', edit_variavel_path(@variavel) %> |
<%= link_to 'Back', variavels_path %>
<%= link_to 'Voltar para Calagem', analises_calagem_path %>


