<%= simple_form_for(@lote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <div class="row">
        <div class="col-md-6">
    <% f.association :user %>
    <%= f.association :fazenda, label_method: :nome, collection: Fazenda.where(user_id: current_user.id) %>
    <%= f.association :talhao, label_method: :nome, collection: Talhao.where(user_id: current_user.id) %>
    <%= f.input :safra, collection: ["2016/2017","2017/2018", "2018/2019"] %>
    <%= f.input :tipo, collection: ["A classificar","Café da Roça", "CD", "Café Bóia", "Verde", "Varrição"] %>
    <%= f.input :local, collection: ["Colheita Manual","Colheita Mecanizada", "Terreiro", "Descascador", "Secador", "Tulha", "Benefício"] %>
        </div>
        <div class="col-md-6">
    <%= f.input :numero %>
    <%= f.input :numeroOrigem %>
    <%= f.input :dataEntrada %>
    <%= f.input :quantidade %>
        </div>
      </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
