<div class="row">
<h1 class="text-center">Rastreabilidade</h1>
<%= search_form_for @search, :class => "form-inline", url: lotes_path do |f| %>
<h3>Filtro</h3>
  <%= f.label :safra_eq, "Safra:" %>
  <%= f.select :safra_eq, options_for_select(@safra), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.label :fazenda_nome_cont, "Fazenda:" %>
  <%= f.select :fazenda_nome_cont, options_for_select(@fazenda), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.label :local_cont, "Talhão:" %>
  <%= f.select :talhao_nome_cont, options_for_select(@talhao), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.label :tipo_cont, "Tipo:" %>
  <%= f.select :tipo_cont, options_for_select(@tipo), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.label :local_cont, "Local:" %>
  <%= f.select :local_cont, options_for_select(@local), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>

<h1>Listagem dos Lotes</h1>

<%= link_to 'Novo Lote', new_lote_path,:class => 'btn btn-default' %>

<table class="table table-condensed table-hover text-center">
  <thead>
    <tr>
      <th>Fazenda</th>
      <th>Talhão</th>
      <th>Safra</th>
      <th><%= sort_link(@search, :tipo)%></th>
      <th><%= sort_link(@search, :local)%></th>
      <th>Numero</th>
      <th><%= sort_link(@search, :dataEntrada)%></th>
      <th>Quantidade</th>
      <th>Sacas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

  <% @quantidade = 0 %>
  <% @qtdeSacas = 0 %>

<% @lotes.each do |lote| %>
      <tr>
        <td><%= lote.fazenda.nome %></td>
        <td><%= lote.talhao.nome %></td>
        <td><%= lote.safra %></td>
        <td><%= lote.tipo %></td>
        <td><%= lote.local %></td>
        <td><%= lote.numero %></td>
        <td><%= lote.dataEntrada.to_time.strftime('%d/%m/%Y') %></td>
        <td><%= valor_inteiro(lote.quantidade) %></td>
        <td><%= valor_inteiro(lote.qtdeSacas) %></td>
        <td><% link_to 'Show', lote %></td>
        <td><%= link_to 'Edit', edit_lote_path(lote) %></td>
        <td><%= link_to 'Destroy', lote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<% @quantidade += lote.quantidade %>
<% @qtdeSacas += lote.qtdeSacas %>
<% end %>
</tbody>
</table>

<div class="col-md-6 col-md-offset-3">
<table class="table table-condensed table-striped"> <%# Table 4%>
  <thead>
  <tr>
    <th class="text-center"></th>
    <th class="text-center"><b>Quantidade Litros</b></th>    
    <th class="text-center"><b>Quantidade Sacas</b></th> 
  </tr> 
  </thead>
  <tbody>
  <tr>
    <td class="text-center"><b>Total</b></td>
    <td class="text-center"><%= valor_inteiro(@quantidade) %></td>
    <td class="text-center"><%= valor_inteiro(@qtdeSacas) %></td>
  </tr>
</tbody>
</table><%# Fim Table 4%>
</div><%# Fim Div%>
