
<p>
  <strong>Ano:</strong>
  <%= @parametro.ano %>
</p>

<p>
  <strong>Parcelamento:</strong>
  <%= @parametro.parcelamento %>
</p>

<p>
  <strong>Producao esperada:</strong>
  <%= @parametro.producao_esperada %>
</p>

<p>
  <strong>Método:</strong>
  <%= @parametro.metodo %>
</p>

<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
<%= link_to 'Voltar para Adubação', analises_fertilidade_path %>
