
<div class="row">
<h1 class="text-center">Necessidade de Calagem</h1>
<div class="col-md-6">
<table class="table table-condensed text-center">
  <thead>
    <tr>
      <th class="text-center">Ano</th>
      <th class="text-center">Profundidade</th>
      <th class="text-center">Área de aplicação</th>
      <th class="text-center">PRNT</th>
      <th colspan="1"></th>
    </tr>
    <%= link_to 'Nova Variável', new_variavel_path,:class => 'btn btn-default' %>
  </thead>
    <% @variavels.each do |variavel| %>
  <tbody>
    <tr>
        <td><%= variavel.ano %></td>
        <td><%= variavel.profundidade %></td>
        <td><%= variavel.areaAplicacao %></td>
        <td><%= variavel.prnt %></td>
        <td><%= link_to 'Edit', edit_variavel_path(variavel),:class => 'btn btn-default' %></td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
<div class="col-md-6">
<%= search_form_for @search, :class => "form-inline", url: analises_calagem_path do |f| %>
<h1>Filtro</h1>
  <%= f.label :ano_eq, "Ano:" %>
  <%= f.search_field :ano_eq, :class => "text-center form-control"%>
  <%= f.label :fazenda_nome_cont, "Fazenda:" %>
  <%= f.search_field :fazenda_nome_cont, :class => "text-center form-control" %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>
</div>


<% @analises.select("DISTINCT(ano)").each do |p| %>
<% @parametro_ano = p.ano %>

    <% @ncPlantiototal = 0 %>
    <% @nctotalPlantiocorrigida = 0 %>
    <% @nctotalPlantiocomplementar = 0 %>
    <% @totalPlantiocalcario = 0 %>
<%# Bloco Plantio%>
<table class="table table-condensed">
<tr>
<td><h3 class="text-center"><%= @parametro_ano %></h3></td>
</tr>
<tr>
<td><h2><b>Calagem de plantio</b></h3></td>
</tr>

<% @variavels.where("(ano= ?)", @parametro_ano).each do |variavel| %>

  <% @variavel_profundidade = variavel.profundidade %>
  <% @variavel_areaAplicacao = variavel.areaAplicacao %>
  <% @variavel_prnt = variavel.prnt %>

    
<% @analises.select("DISTINCT(fazenda_id)").where("(ano= ? AND situacao = ?)", @parametro_ano, "Plantio").each do |v| %>
  <% @faz_id = v.fazenda_id %>



<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Fazenda</th>
      <th>Talhão</th>
      <th>Ph</th>
      <th>CTC a Ph 7</th>
      <th>V%</th>
      <th>Ca/Mg</th>
      <th>NC/ha Método SP</th>
      <th>Talhão area</th>
      <th>NC/Total</th>
      <th>NC/Total - Corrigida</th>
      <th>NC/ha - Corrigida</th>
      <th>NC g/m linear compl</th>
      <th>Calagem Compl (t/ha)</th>
      <th>Total CC area total</th>
      <th>Total Calcário</th>
    </tr>
  </thead>
  <tbody>

    <% @nctotal = 0 %>
    <% @nctotalcorrigida = 0 %>
    <% @nctotalcomplementar = 0 %>
    <% @totalcalcario = 0 %>
    <% @plantio.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
      
      <tr>
        <td><%= analise.fazenda.nome %></td>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.ph %></td>
        <td><%= valor_duascasas(analise.ctcApH7) %></td>
        <td><%= valor_duascasas(analise.saturacaoBase) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMg) %></td>
        <td class="info"><%= valor_duascasas(analise.necessidadeCalagem) %></td>
        <td><%= analise.talhao.area %></td>
        <td><%= valor_duascasas(analise.nctotalcomarea) %></td>
        <td class="danger"><%= valor_duascasas(analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %></td>
        <td><%= valor_duascasas((analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt))/analise.talhao.area ) %></td>
        <td><%= valor_duascasas(analise.necCalagemCompl) %></td>
        <td><%= valor_duascasas(analise.calagemComplementar) %></td>
        <td><%= valor_duascasas(analise.necCalagemCompAreaTotal)%></td>
        <td><%= valor_duascasas(analise.somaCalcario(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt))%></td>
      </tr>
      <% @nctotal += analise.necessidadeCalagem %>
      <% @nctotalcorrigida += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %>
      <% @nctotalcomplementar += analise.necCalagemCompAreaTotal %>
      <% @totalcalcario += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt) + analise.necCalagemCompAreaTotal) %>
    <% end %>

    <tr>
        <th><b>TOTAL</b></th>   
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><b><%= valor_duascasas(@nctotal) %></b></th>
        <th></th>
        <th></th>
        <th><b><%= valor_duascasas(@nctotalcorrigida) %></b></th>     
        <th></th>
        <th></th>
        <th></th>
        <th><b><%= valor_duascasas(@nctotalcomplementar) %></b></th>
        <th><b><%= valor_duascasas(@totalcalcario) %></b></th>
    </tr>
  </tbody>
</table>

    <% @ncPlantiototal += @nctotal %>
    <% @nctotalPlantiocorrigida += @nctotalcorrigida %>
    <% @nctotalPlantiocomplementar += @nctotalcomplementar %>
    <% @totalPlantiocalcario += @totalcalcario %>
      <% end %>
    <% end %>

<br>

  
  <% @ncProducaototal = 0 %>
  <% @nctotalProducaocorrigida = 0 %>
  <% @totalProducaocalcario = 0 %>
<%# Bloco Produção%>
<table class="table table-condensed">
<tr>
<td><h2><b>Calagem de Produção</b></h3></td>
</tr>

<% @variavels.where("(ano= ?)", @parametro_ano).each do |variavel| %>

  <% @variavel_profundidade = variavel.profundidade %>
  <% @variavel_areaAplicacao = variavel.areaAplicacao %>
  <% @variavel_prnt = variavel.prnt %>

<% @analises.select("DISTINCT(fazenda_id)").where("(ano= ? AND situacao != ?)", @parametro_ano, "Plantio").each do |v| %>
  <% @faz_id = v.fazenda_id %>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Fazenda</th>
      <th>Talhão</th>
      <th>Ph</th>
      <th>CTC a Ph 7</th>
      <th>V%</th>
      <th>Ca/Mg</th>
      <th>NC/ha Método SP</th>
      <th>Talhão area</th>
      <th>NC/Total</th>
      <th>NC/Total - Corrigida</th>
      <th>NC/ha - Corrigida</th>
    </tr>
  </thead>
  <tbody class="text-center">

    <% @nctotal = 0 %>
    <% @nctotalcorrigida = 0 %>
    <% @nctotalcomplementar = 0 %>
    <% @totalcalcario = 0 %>
    <% @correcao.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
      
      <tr>
        <td><%= analise.fazenda.nome %></td>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.ph %></td>
        <td><%= valor_duascasas(analise.ctcApH7) %></td>
        <td><%= valor_duascasas(analise.saturacaoBase) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMg) %></td>
        <td class="info"><%= valor_duascasas(analise.necessidadeCalagem) %></td>
        <td><%= analise.talhao.area %></td>
        <td><%= valor_duascasas(analise.nctotalcomarea) %></td>
        <td class="danger"><%= valor_duascasas(analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %></td>
        <td><%= valor_duascasas((analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt))/analise.talhao.area ) %></td>
      </tr>
      <% @nctotal += analise.necessidadeCalagem %>
      <% @nctotalcorrigida += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %>
      <% @totalcalcario += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt) + analise.necCalagemCompAreaTotal) %>
    <% end %>

    <tr>
        <th class="text-center"><b>TOTAL</b></th>   
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center"><b><%= valor_duascasas(@nctotal) %></b></th>
        <th></th>
        <th></th>
        <th class="text-center"><b><%= valor_duascasas(@nctotalcorrigida) %></b></th>  
        <th></th>
    </tr>
  </tbody>
</table>
  <% @ncProducaototal += @nctotal %>
  <% @nctotalProducaocorrigida += @nctotalcorrigida %>
  <% @totalProducaocalcario += @totalcalcario %>
<% end %>
<br>
    <% end %>

<div class="col-md-6 col-md-offset-3">
<table class="table table-condensed table-striped"> <%# Table 4%>
  <thead>
  <tr>
    <th class="text-center"><%= @parametro_ano%></th>
    <th class="text-center"><b>Total Calcario/ha</b></th>
    <th class="text-center"><b>Total Calcario Corrigido</b></th>
    <th class="text-center"><b>Total Complementar</b></th>    
    <th class="text-center"><b></b>Total Geral</th>
  </tr> 
  </thead>
  <tbody>
  <tr>
    <td class="text-center"><b>Plantio</b></td>
    <td class="text-center"><%= valor_duascasas(@ncPlantiototal) %></td>
    <td class="text-center"><%= valor_duascasas(@nctotalPlantiocorrigida) %></td>
    <td class="text-center"><%= valor_duascasas(@nctotalPlantiocomplementar) %></td>
    <td class="text-center"><%= valor_duascasas(@totalPlantiocalcario)%></td>
  </tr>
    <tr>
    <td class="text-center"><b>Produção</b></td>
    <td class="text-center"><%= valor_duascasas(@ncProducaototal) %></td>
    <td class="text-center"><%= valor_duascasas(@nctotalProducaocorrigida) %></td>
    <td class="text-center"></td>
    <td class="text-center"><%= valor_duascasas(@totalProducaocalcario)%></td>
  </tr>
  <% @ncTotal = @ncPlantiototal + @ncProducaototal %>
  <% @corrigidaTotal = @nctotalPlantiocorrigida + @nctotalProducaocorrigida %>
  <% @complementarTotal = @nctotalPlantiocomplementar %>
  <% @total = @totalPlantiocalcario + @totalProducaocalcario %>
    <tr>
    <td class="text-center"><b>Total</b></td>
    <td class="text-center"><%= valor_duascasas(@ncTotal) %></td>
    <td class="text-center"><%= valor_duascasas(@corrigidaTotal) %></td>
    <td class="text-center"><%= valor_duascasas(@complementarTotal) %></td>
    <td class="text-center"><%= valor_duascasas(@total) %></td>
  </tr>

  </tbody>
</table><%# Fim Table 4%>
</div><%# Fim Div%>

<%end%>

