<%= wicked_pdf_stylesheet_link_tag 'pdf_stylesheet' %>
<%= wicked_pdf_stylesheet_link_tag 'application' %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <% unless request.format.to_sym == :pdf %>

<div class="row">

<div class="col-xs-6">
  
  <h3>Opções</h3>

    <%= link_to 'Nova Variável', new_variavel_path,:class => 'btn btn-default' %>
    <%= link_to "Gerar PDF", analises_calagem_path(params.merge(:format => "pdf")), class: "btn btn-primary", :target => "_blank" %>
</div>

<div class="col-xs-6">
<%= search_form_for @search, :class => "form-inline", url: analises_calagem_path do |f| %>
<h3>Filtro</h3>
  <%= f.label :ano_eq, "Ano:" %>
  <%= f.select :ano_eq, options_for_select(@ano), {:include_blank => true}, { :class => "form-control" }%>
  <%= f.label :fazenda_nome_cont, "Fazenda:" %>
  <%= f.select :fazenda_nome_cont, options_for_select(@fazenda), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>
</div>

    <% end %> 

<% @analises.select("DISTINCT(ano)").order("ano desc").each do |p| %>
<% @parametro_ano = p.ano %>

    <% @ncPlantiototal = 0 %>
    <% @nctotalPlantiocorrigida = 0 %>
    <% @nctotalPlantiocomplementar = 0 %>
    <% @totalPlantiocalcario = 0 %>

<p></p>  
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<h1 class="text-center">Necessidade de Calagem</h1>
<table class="table table-condensed text-center">
  <thead>
    <tr>
      <th class="text-center">Ano</th>
      <th class="text-center">Profundidade</th>
      <th class="text-center">Área de aplicação</th>
      <th class="text-center">Produto</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @variavels.where("(ano= ?)", @parametro_ano).each do |variavel| %>
    <tr>
        <td><%= variavel.ano %></td>
        <td><%= variavel.profundidade %></td>
        <td><%= variavel.areaAplicacao %></td>
        <td><%= variavel.produto.nome %></td>
<% unless request.format.to_sym == :pdf %>
        <td><%= link_to 'Edit', edit_variavel_path(variavel),:class => 'btn btn-default' %></td>
<%end%>        
    </tr>
  </tbody>
<% end %>
</table>
</div>
</div>

<%# Bloco Plantio%>

<table class="table table-condensed">

<% @variavels.where("(ano= ?)", @parametro_ano).each do |variavel| %>

  <% @variavel_profundidade = variavel.profundidade %>
  <% @variavel_areaAplicacao = variavel.areaAplicacao %>
  
    
<% @analises.select("DISTINCT(fazenda_id)").where("(ano= ? AND situacao = ?)", @parametro_ano, "Plantio").each do |v| %>
  <% @faz_id = v.fazenda_id %>

<tr>
<td><h2><b>Calagem de plantio</b></h3></td>
</tr>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Fazenda</th>
      <th>Talhão</th>
      <th>Ph</th>
      <th>CTC a Ph 7</th>
      <th>V%</th>
      <th>NC/ha Método SP</th>
      <th>Talhão area</th>
      <th>CaO (%)</th>
      <th>MgO (%)</th>
      <th>PRNT</th>
      <th>NC/Total - Corrigida</th>
      <th>NC/ha - Corrigida</th>
      <th>NC g/m linear compl</th>
      <th>Calagem Compl (t/ha)</th>
      <th>Total CC area total</th>
      <th>Total Calcário</th>
      <th>Ca Antes</th>
      <th>Ca Após</th>
      <th>Mg Antes</th>
      <th>Mg Após</th>
      <th>Ca/Mg Antes</th>
      <th>Ca/Mg Após</th>
    </tr>
  </thead>
  <tbody>

    <% @nctotalcorrigida = 0 %>
    <% @nctotalcomplementar = 0 %>
    <% @totalcalcario = 0 %>
    <% @plantio.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
      
      <tr>
        <td><%= analise.fazenda.nome %></td>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.ph %></td>
        <td><%= valor_duascasas(analise.ctcApH7) %></td>
        <td><%= valor_duascasas(analise.saturacaoBase) %></td>
        <td class="info"><%= valor_duascasas(analise.necessidadeCalagem) %></td>
        <td><%= analise.talhao.area %></td>
        <td><%= valor_duascasas(variavel.produto.cao) %></td>
        <td><%= valor_duascasas(variavel.produto.mgo) %></td>
        <td><%= valor_duascasas(variavel.produto.prnt) %></td>
        <td class="danger"><%= valor_duascasas(analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt)) %></td>
        <td><%= valor_duascasas((analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt))/analise.talhao.area ) %></td>
        <% @ncTotalComAreaCorrigida = analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt)/analise.talhao.area %>
        <td><%= valor_duascasas(analise.necCalagemCompl) %></td>
        <td><%= valor_duascasas(analise.calagemComplementar) %></td>
        <td><%= valor_duascasas(analise.necCalagemCompAreaTotal)%></td>
        <td><%= valor_duascasas(analise.somaCalcario(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt))%></td>
        <td><%= valor_duascasas(analise.calcio_ca) %></td>
        <td><%= valor_duascasas(analise.caAposCalagem(variavel.produto.cao,@ncTotalComAreaCorrigida,analise.calcio_ca)) %></td>
        <% @caAposCalagem = analise.caAposCalagem(variavel.produto.cao,@ncTotalComAreaCorrigida,analise.calcio_ca) %>
        <% @mgAposCalagem = analise.mgAposCalagem(variavel.produto.mgo,@ncTotalComAreaCorrigida,analise.magnesio_mg) %>
        <td><%= valor_duascasas(analise.magnesio_mg) %></td>
        <td><%= valor_duascasas(analise.mgAposCalagem(variavel.produto.mgo,@ncTotalComAreaCorrigida,analise.magnesio_mg)) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMg) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMgApos(@caAposCalagem,@mgAposCalagem)) %></td>
      </tr>
      <% @nctotalcorrigida += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt)) %>
      <% @nctotalcomplementar += analise.necCalagemCompAreaTotal %>
      <% @totalcalcario += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt) + analise.necCalagemCompAreaTotal) %>
    <% end %>

    <tr>
        <th><b>TOTAL</b></th>   
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><b><%= valor_duascasas(@nctotalcorrigida) %></b></th>     
        <th></th>
        <th></th>
        <th></th>
        <th><b><%= valor_duascasas(@nctotalcomplementar) %></b></th>
        <th><b><%= valor_duascasas(@totalcalcario) %></b></th>
        <th></th>
        <th class="text-center" colspan="6"></th>
    </tr>
  </tbody>
</table>

    <% @nctotalPlantiocorrigida += @nctotalcorrigida %>
    <% @nctotalPlantiocomplementar += @nctotalcomplementar %>
    <% @totalPlantiocalcario += @totalcalcario %>
      <% end %>
    <% end %>

<br>

  
  <% @ncProducaototal = 0 %>
  <% @nctotalProducaocorrigida = 0 %>
  <% @totalProducaocalcario = 0 %>
<%# Bloco Produção%>
<table class="table table-condensed">
<tr>
<td><h2><b>Calagem de Produção</b></h3></td>
</tr>

<% @variavels.where("(ano= ?)", @parametro_ano).each do |variavel| %>

  <% @variavel_profundidade = variavel.profundidade %>
  <% @variavel_areaAplicacao = variavel.areaAplicacao %>
  <% @variavel_prnt = variavel.produto.prnt %>

<% @analises.select("DISTINCT(fazenda_id)").where("(ano= ? AND situacao != ?)", @parametro_ano, "Plantio").each do |v| %>
  <% @faz_id = v.fazenda_id %>


<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Fazenda</th>
      <th>Talhão</th>
      <th>Ph</th>
      <th>CTC a Ph 7</th>
      <th>V%</th>
      <th>NC/ha Método SP</th>
      <th>Talhão area</th>
      <th>CaO (%)</th>
      <th>MgO (%)</th>
      <th>PRNT</th>
      <th>NC/Total - Corrigida</th>
      <th>NC/ha - Corrigida</th>
      <th>Ca Antes</th>
      <th>Ca Após</th>
      <th>Mg Antes</th>
      <th>Mg Após</th>
      <th>Ca/Mg Antes</th>
      <th>Ca/Mg Após</th>
    </tr>
  </thead>
  <tbody class="text-center">

    <% @nctotalcorrigida = 0 %>
    <% @nctotalcomplementar = 0 %>
    <% @totalcalcario = 0 %>
    <% @correcao.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
      
      <tr>
        <td><%= analise.fazenda.nome %></td>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.ph %></td>
        <td><%= valor_duascasas(analise.ctcApH7) %></td>
        <td><%= valor_duascasas(analise.saturacaoBase) %></td>
        <td class="info"><%= valor_duascasas(analise.necessidadeCalagem) %></td>
        <td><%= analise.talhao.area %></td>
        <td><%= valor_duascasas(variavel.produto.cao) %></td>
        <td><%= valor_duascasas(variavel.produto.mgo) %></td>
        <td><%= valor_duascasas(variavel.produto.prnt) %></td>
        <td class="danger"><%= valor_duascasas(analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %></td>
        <td><%= valor_duascasas((analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt))/analise.talhao.area ) %></td>
        <% @ncTotalComAreaCorrigida = analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, variavel.produto.prnt)/analise.talhao.area %>
        <td><%= valor_duascasas(analise.calcio_ca) %></td>
        <td><%= valor_duascasas(analise.caAposCalagem(variavel.produto.cao,@ncTotalComAreaCorrigida,analise.calcio_ca)) %></td>
        <% @caAposCalagem = analise.caAposCalagem(variavel.produto.cao,@ncTotalComAreaCorrigida,analise.calcio_ca) %>
        <% @mgAposCalagem = analise.mgAposCalagem(variavel.produto.mgo,@ncTotalComAreaCorrigida,analise.magnesio_mg) %>
        <td><%= valor_duascasas(analise.magnesio_mg) %></td>
        <td><%= valor_duascasas(analise.mgAposCalagem(variavel.produto.mgo,@ncTotalComAreaCorrigida,analise.magnesio_mg)) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMg) %></td>
        <td><%= valor_duascasas(analise.proporcaoCaMgApos(@caAposCalagem,@mgAposCalagem)) %></td>

      </tr>
      <% @nctotalcorrigida += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt)) %>
      <% @totalcalcario += (analise.ncTotalComAreaCorrigida(@variavel_profundidade, @variavel_areaAplicacao, @variavel_prnt) + analise.necCalagemCompAreaTotal) %>
    <% end %>

    <tr>
        <th class="text-center"><b>TOTAL</b></th>   
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-center"><b><%= valor_duascasas(@nctotalcorrigida) %></b></th>
        <th></th>
        <th class="text-center" colspan="6"></th>
    </tr>
  </tbody>
</table>
  <% @nctotalProducaocorrigida += @nctotalcorrigida %>
  <% @totalProducaocalcario += @totalcalcario %>
<% end %>
<br>
    <% end %>

<div class="col-md-6 col-md-offset-3">
<table class="table table-condensed table-striped"> <%# Table 4%>
  <thead>
  <tr>
    <th class="text-center"><%= @parametro_ano%></th>
    <th class="text-center"><b>Total Calcario Corrigido</b></th>
    <th class="text-center"><b>Total Complementar</b></th>    
    <th class="text-center"><b></b>Total Geral</th>
  </tr> 
  </thead>
  <tbody>
  <tr>
    <td class="text-center"><b>Plantio</b></td>
    <td class="text-center"><%= valor_duascasas(@nctotalPlantiocorrigida) %></td>
    <td class="text-center"><%= valor_duascasas(@nctotalPlantiocomplementar) %></td>
    <td class="text-center"><%= valor_duascasas(@totalPlantiocalcario)%></td>
  </tr>
    <tr>
    <td class="text-center"><b>Produção</b></td>
    <td class="text-center"><%= valor_duascasas(@nctotalProducaocorrigida) %></td>
    <td class="text-center"></td>
    <td class="text-center"><%= valor_duascasas(@totalProducaocalcario)%></td>
  </tr>
  <% @corrigidaTotal = @nctotalPlantiocorrigida + @nctotalProducaocorrigida %>
  <% @complementarTotal = @nctotalPlantiocomplementar %>
  <% @total = @totalPlantiocalcario + @totalProducaocalcario %>
    <tr>
    <td class="text-center"><b>Total</b></td>
    <td class="text-center"><%= valor_duascasas(@corrigidaTotal) %></td>
    <td class="text-center"><%= valor_duascasas(@complementarTotal) %></td>
    <td class="text-center"><%= valor_duascasas(@total) %></td>
  </tr>

  </tbody>
</table><%# Fim Table 4%>
</div><%# Fim Div%>

<%end%>
