<div class="row">
<h1 class="text-center">Necessidade de Fertilizantes</h1>
<div class="col-md-6">
<%= link_to "Gerar PDF", analises_fertilizantes_path(params.merge(:format => "pdf")), class: "btn btn-primary", :target => "_blank"%>
</div>
<div class="col-md-6">
<%= search_form_for @search, :class => "form-inline", url: analises_fertilizantes_path do |f| %>
<h3>Filtro</h3>
  <%= f.label :ano_eq, "Ano:" %>
  <%= f.search_field :ano_eq, :class => "text-center form-control"%>
  <%= f.label :fazenda_nome_cont, "Fazenda:" %>
  <%= f.search_field :fazenda_nome_cont, :class => "text-center form-control" %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>


<%# Bloco Plantio%>
<% @analises.select("DISTINCT(ano)").each do |p| %>
<% @parametro_ano = p.ano %>

<% @analises.select("DISTINCT(fazenda_id)").where("(ano= ?)", @parametro_ano).each do |v| %>
<% @faz_id = v.fazenda_id %>

<h2>Necessidade para Plantio</h2>
<% @plantio.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").each do |analise| %>

<table class="table table-condensed text-center">
		<thead>
			<tr class="info">
				<th class="text-center">Fazenda</th>
				<th class="text-center">Ano</th>
				<th class="text-center">Talhao</th>
				<th class="text-center">Area</th>
        <th class="text-center">Metros lineares</th>
				<th class="text-center">N</th>
				<th class="text-center">P</th>
				<th class="text-center">K</th>
			</tr>
		</thead>

<% @parametros.each do |parametro| %>
<% if parametro.ano == analise.ano 
    @parametro_parcelamento = parametro.parcelamento
    @parametro_producao_esperada = parametro.producao_esperada
  else
     0
  end %> <%# End do If%>
<% end %><%# End do parametro%>

	<% @necNplantioTotal = analise.necNplantioTotal(@parametro_parcelamento) %>
	<% @necP2o5plantioTotal = analise.necP2o5plantioTotal %>
	<% @necK2oPlantioTotal = analise.necK2oPlantioTotal(@parametro_parcelamento) %>
		<tbody>
		    <td class="active text-center"><%= analise.fazenda.nome %></td>
		    <td class="active text-center"><%= analise.ano %></td>
		    <td class="active text-center"><%= analise.talhao.nome %></td>
		    <td class="active text-center"><%= analise.talhao.area %></td>
        <td class="active text-center"><%= valor_inteiro(analise.metrosLineares) %></td>
		    <td class="active text-center"><%= valor_inteiro(@necNplantioTotal)%></td>
		    <td class="active text-center"><%= valor_inteiro(@necP2o5plantioTotal)%></td>
		    <td class="active"><%= valor_inteiro(@necK2oPlantioTotal)%></td>
		</tbody>

<table class="table table-condensed text-center"> <%# Table 3%>
          <thead>
            <tr>
              <th class="text-center">Adubo 1</th>
              <th class="text-center">Adubo 2</th>
              <th class="text-center">Adubo 3</th>
              <th class="text-center">Adubo1 (Kg)</th>
              <th class="text-center">Adubo1 g/m</th>
              <th class="text-center">Adubo2 (Kg)</th>
              <th class="text-center">Adubo2 g/m</th>
              <th class="text-center">Adubo3 (Kg)</th>
              <th class="text-center">Adubo3 g/m</th>
              <th class="text-center">Custo Total</th>
              <th class="text-center">Custo por Ha</th>
            </tr>
          </thead>
    <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto| %>
	      	<% @id1 = produto.id %>
	        <% @nome1 = produto.nome %>
	        <% @nitrogenio1 = (produto.nitrogenio_n)/100 %>
	        <% @fosforo1 = produto.fosforo_p2o5/100 %>
	        <% @potassio1 = produto.potassio_k2o/100 %>
          <% @adubo1preco = produto.preco %>
      	<% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto2| %>
      		<% if produto2.id == @id1 %>
      			<% break %>
      		<% else %>
      			<% @id2 = produto2.id %>
      			<% @nome2 = produto2.nome %>
      			<% @nitrogenio2 = produto2.nitrogenio_n/100 %>
        		<% @fosforo2 = produto2.fosforo_p2o5/100 %>
        		<% @potassio2 = produto2.potassio_k2o/100 %>
            <% @adubo2preco = produto2.preco %>
		      <% end %> 	
            <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto3| %>
              <% if produto3.id == @id1 %>
                <% break %>
              <% elsif produto3.id == @id2%>
                <% break %>
              <% else %>
                <% @id3 = produto3.id %>
                <% @nome3 = produto3.nome %>
                <% @nitrogenio3 = produto3.nitrogenio_n/100 %>
                <% @fosforo3 = produto3.fosforo_p2o5/100 %>
                <% @potassio3 = produto3.potassio_k2o/100 %>
                <% @adubo3preco = produto3.preco %>
              <% end %>
  		   <% @equacao1x1 = @nitrogenio1 * @fosforo1 %>
  		   <% @equacao1x2 = @nitrogenio2 * @fosforo1 %>
  		   <% @equacao1x3 = @nitrogenio3 * @fosforo1 %>
  		   <% @equacao1x4 = @necNplantioTotal * @fosforo1 %>
  		   <% @equacao2x1 = @fosforo1 * (-@nitrogenio1) %>
  		   <% @equacao2x2 = @fosforo2 * (-@nitrogenio1) %>
  		   <% @equacao2x3 = @fosforo3 * (-@nitrogenio1) %>
  		   <% @equacao2x4 = @necP2o5plantioTotal * (-@nitrogenio1) %>
  		   <% @equacao4x1 = @equacao1x1 + @equacao2x1 %>
  		   <% @equacao4x2 = @equacao1x2 + @equacao2x2 %>
  		   <% @equacao4x3 = @equacao1x3 + @equacao2x3 %>
  		   <% @equacao4x4 = @equacao1x4 + @equacao2x4 %>
         <% @equacao12x1 = @nitrogenio1 * @potassio1 %>
         <% @equacao12x2 = @nitrogenio2 * @potassio1 %>
         <% @equacao12x3 = @nitrogenio3 * @potassio1 %>
         <% @equacao12x4 = @necNplantioTotal * @potassio1 %>
         <% @equacao3x1 = @potassio1 * (-@nitrogenio1) %>
         <% @equacao3x2 = @potassio2 * (-@nitrogenio1) %>
         <% @equacao3x3 = @potassio3 * (-@nitrogenio1) %>
         <% @equacao3x4 = @necK2oPlantioTotal * (-@nitrogenio1) %>
  		   <% @equacao5x1 = @equacao12x1 + @equacao3x1 %>
  		   <% @equacao5x2 = @equacao12x2 + @equacao3x2 %>
  		   <% @equacao5x3 = @equacao12x3 + @equacao3x3 %>
  		   <% @equacao5x4 = @equacao12x4 + @equacao3x4 %>
  		   <% @equacao6x1 = @equacao4x1 * @equacao5x2 %>
  		   <% @equacao6x2 = @equacao4x2 * @equacao5x2 %>
  		   <% @equacao6x3 = @equacao4x3 * @equacao5x2 %>
  		   <% @equacao6x4 = @equacao4x4 * @equacao5x2 %>
         <% @equacao7x1 = @equacao5x1 * (-@equacao4x2) %>
         <% @equacao7x2 = @equacao5x2 * (-@equacao4x2) %>
         <% @equacao7x3 = @equacao5x3 * (-@equacao4x2) %>
         <% @equacao7x4 = @equacao5x4 * (-@equacao4x2) %>
         <% @equacao8x1 = @equacao6x1 + @equacao7x1 %>
         <% @equacao8x2 = @equacao6x2 + @equacao7x2 %>
         <% @equacao8x3 = @equacao6x3 + @equacao7x3 %>
         <% @equacao8x4 = @equacao6x4 + @equacao7x4 %>                  

  		   <% if @equacao8x3 == 0 %>
            <% break %>
          <% else %>
            <% @adubo3 = @equacao8x4 / @equacao8x3 %></td>
          <% end %>
         <% if @equacao4x2 == 0 %>
            <% break %>
          <% else %>
         <% @adubo2 = (@equacao4x4 - (@adubo3*@equacao4x3)) / @equacao4x2 %></td>
          <% end %>
        <% if @nitrogenio1 == 0 %>
            <% break %>
          <% else %>
  		   <% @adubo1 = ((@necNplantioTotal - ((@adubo2 * @nitrogenio2) + (@adubo3 * @nitrogenio3))) / @nitrogenio1) %></td>  		   
          <% end %> 

<% if @adubo1 < 0 || @adubo2 < 0 || @adubo3 < 0 %>
<% else %>
         <% @precoTotal = ((@adubo1 * (@adubo1preco/1000))) + ((@adubo2 * (@adubo2preco/1000))) + ((@adubo3 * (@adubo3preco/1000))) %>
         <% @precoHa = @precoTotal / analise.talhao.area %>
         <% @adubo1gm = ((@adubo1 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo2gm = ((@adubo2 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo3gm = ((@adubo3 / analise.talhao.area) * 1000) / analise.metrosLineares %>
       <tbody>
       <tr>
        <td><%= @nome1 %></td>
        <td><%= @nome2 %></td>
        <td><%= @nome3 %></td>
        <td><%= valor_inteiro(@adubo1) %></td>
        <td><%= valor_inteiro(@adubo1gm) %></td>
        <td><%= valor_inteiro(@adubo2) %></td>
        <td><%= valor_inteiro(@adubo2gm) %></td>
        <td><%= valor_inteiro(@adubo3) %></td>
        <td><%= valor_inteiro(@adubo3gm) %></td> 
        <td><%= valor_emreais(@precoTotal) %></td>
        <td><%= valor_emreais(@precoHa) %></td>               
       </tr>
<% end %>
            <% end %>
        <% end %>
    <% end %>
	</tbody>
</table>
<% end %>
</table>

<%# Bloco 1° Ano%>

<h2>Necessidade para 1° Ano</h2>
<% @primeiroAno.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").each do |analise| %>

<table class="table table-condensed text-center">
    <thead>
      <tr class="info">
        <th class="text-center">Fazenda</th>
        <th class="text-center">Ano</th>
        <th class="text-center">Talhao</th>
        <th class="text-center">Area</th>
        <th class="text-center">Metros lineares</th>
        <th class="text-center">N</th>
        <th class="text-center">P</th>
        <th class="text-center">K</th>
      </tr>
    </thead>

<% @parametros.each do |parametro| %>
<% if parametro.ano == analise.ano 
    @parametro_parcelamento = parametro.parcelamento
    @parametro_producao_esperada = parametro.producao_esperada
  else
     0
  end %> <%# End do If%>
<% end %><%# End do parametro%>

  <% @necN1anoTotal = analise.necN1anoTotalParcelamento(@parametro_parcelamento) %>
  <% @necK2o1anoTotal = analise.necK2o1anoTotal %>
    <tbody>
        <td class="active text-center"><%= analise.fazenda.nome %></td>
        <td class="active text-center"><%= analise.ano %></td>
        <td class="active text-center"><%= analise.talhao.nome %></td>
        <td class="active text-center"><%= analise.talhao.area %></td>
        <td class="active text-center"><%= valor_inteiro(analise.metrosLineares) %></td>
        <td class="active text-center"><%= valor_inteiro(@necN1anoTotal)%></td>
        <td class="active text-center"></td>
        <td class="active"><%= valor_inteiro(@necK2o1anoTotal)%></td>
    </tbody>

<table class="table table-condensed text-center"> <%# Table 3%>
          <thead>
            <tr>
              <th class="text-center">Adubo 1</th>
              <th class="text-center">Adubo 2</th>
              <th class="text-center">Adubo 3</th>
              <th class="text-center">Adubo1 (Kg)</th>
              <th class="text-center">Adubo1 g/m</th>
              <th class="text-center">Adubo2 (Kg)</th>
              <th class="text-center">Adubo2 g/m</th>
              <th class="text-center">Adubo3 (Kg)</th>
              <th class="text-center">Adubo3 g/m</th>
              <th class="text-center">Custo Total</th>
              <th class="text-center">Custo por Ha</th>
            </tr>
          </thead>
    <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto| %>
          <% @id1 = produto.id %>
          <% @nome1 = produto.nome %>
          <% @nitrogenio1 = (produto.nitrogenio_n)/100 %>
          <% @fosforo1 = (produto.fosforo_p2o5)/100 %>
          <% @potassio1 = (produto.potassio_k2o)/100 %>
          <% @adubo1preco = produto.preco %>
        <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto2| %>
          <% if produto2.id == @id1 %>
            <% break %>
          <% else %>
            <% @id2 = produto2.id %>
            <% @nome2 = produto2.nome %>
            <% @nitrogenio2 = (produto2.nitrogenio_n)/100 %>
            <% @fosforo2 = (produto2.fosforo_p2o5)/100 %>
            <% @potassio2 = (produto2.potassio_k2o)/100 %>
            <% @adubo2preco = produto2.preco %>
          <% end %>   
            <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto3| %>
              <% if produto3.id == @id1%>
                <% break %>
              <% elsif produto3.id == @id2%>
                <% break %>
              <% else %>
                <% @id3 = produto3.id %>
                <% @nome3 = produto3.nome %>
                <% @nitrogenio3 = (produto3.nitrogenio_n)/100 %>
                <% @fosforo3 = (produto3.fosforo_p2o5)/100 %>
                <% @potassio3 = (produto3.potassio_k2o)/100 %>
                <% @adubo3preco = produto3.preco %>
              <% end %>
         <% @equacao1x1 = @nitrogenio1 * @fosforo1 %>
         <% @equacao1x2 = @nitrogenio2 * @fosforo1 %>
         <% @equacao1x3 = @nitrogenio3 * @fosforo1 %>
         <% @equacao1x4 = @necN1anoTotal * @fosforo1 %>
         <% @equacao2x1 = @fosforo1 * (-@nitrogenio1) %>
         <% @equacao2x2 = @fosforo2 * (-@nitrogenio1) %>
         <% @equacao2x3 = @fosforo3 * (-@nitrogenio1) %>
         <% @equacao2x4 = 0 %>
         <% @equacao4x1 = @equacao1x1 + @equacao2x1 %>
         <% @equacao4x2 = @equacao1x2 + @equacao2x2 %>
         <% @equacao4x3 = @equacao1x3 + @equacao2x3 %>
         <% @equacao4x4 = @equacao1x4 + @equacao2x4 %>
         <% @equacao12x1 = @nitrogenio1 * @potassio1 %>
         <% @equacao12x2 = @nitrogenio2 * @potassio1 %>
         <% @equacao12x3 = @nitrogenio3 * @potassio1 %>
         <% @equacao12x4 = @necN1anoTotal * @potassio1 %>
         <% @equacao3x1 = @potassio1 * (-@nitrogenio1) %>
         <% @equacao3x2 = @potassio2 * (-@nitrogenio1) %>
         <% @equacao3x3 = @potassio3 * (-@nitrogenio1) %>
         <% @equacao3x4 = @necK2o1anoTotal * (-@nitrogenio1) %>
         <% @equacao5x1 = @equacao12x1 + @equacao3x1 %>
         <% @equacao5x2 = @equacao12x2 + @equacao3x2 %>
         <% @equacao5x3 = @equacao12x3 + @equacao3x3 %>
         <% @equacao5x4 = @equacao12x4 + @equacao3x4 %>
         <% @equacao6x1 = @equacao4x1 * @equacao5x2 %>
         <% @equacao6x2 = @equacao4x2 * @equacao5x2 %>
         <% @equacao6x3 = @equacao4x3 * @equacao5x2 %>
         <% @equacao6x4 = @equacao4x4 * @equacao5x2 %>
         <% @equacao7x1 = @equacao5x1 * (-@equacao4x2) %>
         <% @equacao7x2 = @equacao5x2 * (-@equacao4x2) %>
         <% @equacao7x3 = @equacao5x3 * (-@equacao4x2) %>
         <% @equacao7x4 = @equacao5x4 * (-@equacao4x2) %>
         <% @equacao8x1 = @equacao6x1 + @equacao7x1 %>
         <% @equacao8x2 = @equacao6x2 + @equacao7x2 %>
         <% @equacao8x3 = @equacao6x3 + @equacao7x3 %>
         <% @equacao8x4 = @equacao6x4 + @equacao7x4 %>                  

         <% if @equacao8x3 == 0 %>
            <% break %>
          <% else %>
            <% @adubo3 = @equacao8x4 / @equacao8x3 %></td>
          <% end %>
         <% if @equacao4x2 == 0 %>
            <% break %>
          <% else %>
         <% @adubo2 = (@equacao4x4 - (@adubo3*@equacao4x3)) / @equacao4x2 %></td>
          <% end %>
        <% if @nitrogenio1 == 0 %>
            <% break %>
          <% else %>
         <% @adubo1 = ((@necN1anoTotal - ((@adubo2 * @nitrogenio2) + (@adubo3 * @nitrogenio3))) / @nitrogenio1) %></td>         
          <% end %> 

<% if @adubo1 < 0 || @adubo2 < 0 || @adubo3 < 0 %>
<% else %>
         <% @precoTotal = ((@adubo1 * (@adubo1preco/1000))) + ((@adubo2 * (@adubo2preco/1000))) + ((@adubo3 * (@adubo3preco/1000))) %>
         <% @precoHa = @precoTotal / analise.talhao.area %>
         <% @adubo1gm = ((@adubo1 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo2gm = ((@adubo2 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo3gm = ((@adubo3 / analise.talhao.area) * 1000) / analise.metrosLineares %>
       <tbody>
       <tr>
        <td><%= @nome1 %></td>
        <td><%= @nome2 %></td>
        <td><%= @nome3 %></td>
        <td><%= valor_inteiro(@adubo1) %></td>
        <td><%= valor_inteiro(@adubo1gm) %></td>
        <td><%= valor_inteiro(@adubo2) %></td>
        <td><%= valor_inteiro(@adubo2gm) %></td>
        <td><%= valor_inteiro(@adubo3) %></td>
        <td><%= valor_inteiro(@adubo3gm) %></td> 
        <td><%= valor_emreais(@precoTotal) %></td>
        <td><%= valor_emreais(@precoHa) %></td>               
       </tr>
<% end %>
            <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
</table>

<%# Bloco 2 Ano%>


<h2>Necessidade para 2° Ano / Poda</h2>
<% @segundoAno.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").each do |analise| %>

<table class="table table-condensed text-center">
    <thead>
      <tr class="info">
        <th class="text-center">Fazenda</th>
        <th class="text-center">Ano</th>
        <th class="text-center">Talhao</th>
        <th class="text-center">Area</th>
        <th class="text-center">Metros lineares</th>
        <th class="text-center">N</th>
        <th class="text-center">P</th>
        <th class="text-center">K</th>
      </tr>
    </thead>

<% @parametros.each do |parametro| %>
<% if parametro.ano == analise.ano 
    @parametro_parcelamento = parametro.parcelamento
    @parametro_producao_esperada = parametro.producao_esperada
  else
     0
  end %> <%# End do If%>
<% end %><%# End do parametro%>

  <% @necN2anoTotal = analise.necN2anoTotalParcelamento(@parametro_parcelamento) %>
  <% @necK2o2anoTotal = analise.necK2o2anoTotal %>
    <tbody>
        <td class="active text-center"><%= analise.fazenda.nome %></td>
        <td class="active text-center"><%= analise.ano %></td>
        <td class="active text-center"><%= analise.talhao.nome %></td>
        <td class="active text-center"><%= analise.talhao.area %></td>
        <td class="active text-center"><%= valor_inteiro(analise.metrosLineares) %></td>
        <td class="active text-center"><%= valor_inteiro(@necN2anoTotal)%></td>
        <td class="active text-center"></td>
        <td class="active"><%= valor_inteiro(@necK2o2anoTotal)%></td>
    </tbody>

<table class="table table-condensed text-center"> <%# Table 3%>
          <thead>
            <tr>
              <th class="text-center">Adubo 1</th>
              <th class="text-center">Adubo 2</th>
              <th class="text-center">Adubo 3</th>
              <th class="text-center">Adubo1 (Kg)</th>
              <th class="text-center">Adubo1 g/m</th>
              <th class="text-center">Adubo2 (Kg)</th>
              <th class="text-center">Adubo2 g/m</th>
              <th class="text-center">Adubo3 (Kg)</th>
              <th class="text-center">Adubo3 g/m</th>
              <th class="text-center">Custo Total</th>
              <th class="text-center">Custo por Ha</th>
            </tr>
          </thead>
    <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto| %>
          <% @id1 = produto.id %>
          <% @nome1 = produto.nome %>
          <% @nitrogenio1 = (produto.nitrogenio_n)/100 %>
          <% @fosforo1 = produto.fosforo_p2o5/100 %>
          <% @potassio1 = produto.potassio_k2o/100 %>
          <% @adubo1preco = produto.preco %>
        <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto2| %>
          <% if produto2.id == @id1 %>
            <% break %>
          <% else %>
            <% @id2 = produto2.id %>
            <% @nome2 = produto2.nome %>
            <% @nitrogenio2 = produto2.nitrogenio_n/100 %>
            <% @fosforo2 = produto2.fosforo_p2o5/100 %>
            <% @potassio2 = produto2.potassio_k2o/100 %>
            <% @adubo2preco = produto2.preco %>
          <% end %>   
            <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto3| %>
              <% if produto3.id == @id1%>
                <% break %>
              <% elsif produto3.id == @id2%>
                <% break %>
              <% else %>
                <% @id3 = produto3.id %>
                <% @nome3 = produto3.nome %>
                <% @nitrogenio3 = produto3.nitrogenio_n/100 %>
                <% @fosforo3 = produto3.fosforo_p2o5/100 %>
                <% @potassio3 = produto3.potassio_k2o/100 %>
                <% @adubo3preco = produto3.preco %>
              <% end %>
         <% @equacao1x1 = @nitrogenio1 * @fosforo1 %>
         <% @equacao1x2 = @nitrogenio2 * @fosforo1 %>
         <% @equacao1x3 = @nitrogenio3 * @fosforo1 %>
         <% @equacao1x4 = @necN2anoTotal * @fosforo1 %>
         <% @equacao2x1 = @fosforo1 * (-@nitrogenio1) %>
         <% @equacao2x2 = @fosforo2 * (-@nitrogenio1) %>
         <% @equacao2x3 = @fosforo3 * (-@nitrogenio1) %>
         <% @equacao2x4 = 0 %>
         <% @equacao4x1 = @equacao1x1 + @equacao2x1 %>
         <% @equacao4x2 = @equacao1x2 + @equacao2x2 %>
         <% @equacao4x3 = @equacao1x3 + @equacao2x3 %>
         <% @equacao4x4 = @equacao1x4 + @equacao2x4 %>
         <% @equacao12x1 = @nitrogenio1 * @potassio1 %>
         <% @equacao12x2 = @nitrogenio2 * @potassio1 %>
         <% @equacao12x3 = @nitrogenio3 * @potassio1 %>
         <% @equacao12x4 = @necN2anoTotal * @potassio1 %>
         <% @equacao3x1 = @potassio1 * (-@nitrogenio1) %>
         <% @equacao3x2 = @potassio2 * (-@nitrogenio1) %>
         <% @equacao3x3 = @potassio3 * (-@nitrogenio1) %>
         <% @equacao3x4 = @necK2o2anoTotal * (-@nitrogenio1) %>
         <% @equacao5x1 = @equacao12x1 + @equacao3x1 %>
         <% @equacao5x2 = @equacao12x2 + @equacao3x2 %>
         <% @equacao5x3 = @equacao12x3 + @equacao3x3 %>
         <% @equacao5x4 = @equacao12x4 + @equacao3x4 %>
         <% @equacao6x1 = @equacao4x1 * @equacao5x2 %>
         <% @equacao6x2 = @equacao4x2 * @equacao5x2 %>
         <% @equacao6x3 = @equacao4x3 * @equacao5x2 %>
         <% @equacao6x4 = @equacao4x4 * @equacao5x2 %>
         <% @equacao7x1 = @equacao5x1 * (-@equacao4x2) %>
         <% @equacao7x2 = @equacao5x2 * (-@equacao4x2) %>
         <% @equacao7x3 = @equacao5x3 * (-@equacao4x2) %>
         <% @equacao7x4 = @equacao5x4 * (-@equacao4x2) %>
         <% @equacao8x1 = @equacao6x1 + @equacao7x1 %>
         <% @equacao8x2 = @equacao6x2 + @equacao7x2 %>
         <% @equacao8x3 = @equacao6x3 + @equacao7x3 %>
         <% @equacao8x4 = @equacao6x4 + @equacao7x4 %>                  

         <% if @equacao8x3 == 0 %>
            <% break %>
          <% else %>
            <% @adubo3 = @equacao8x4 / @equacao8x3 %>
          <% end %>
         <% if @equacao4x2 == 0 %>
            <% break %>
          <% else %>
         <% @adubo2 = ((@equacao4x4 - (@adubo3*@equacao4x3)) / @equacao4x2) %>
         <% end %>
        <% if @nitrogenio1 == 0 %>
            <% break %>
          <% else %>
         <% @adubo1 = ((@necN2anoTotal - ((@adubo2 * @nitrogenio2) + (@adubo3 * @nitrogenio3))) / @nitrogenio1) %>
          <% end %> 

<% if @adubo1 < 0 || @adubo2 < 0 || @adubo3 < 0 %>
<% else %>
         <% @precoTotal = ((@adubo1 * (@adubo1preco/1000))) + ((@adubo2 * (@adubo2preco/1000))) + ((@adubo3 * (@adubo3preco/1000))) %>
         <% @precoHa = @precoTotal / analise.talhao.area %>
         <% @adubo1gm = ((@adubo1 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo2gm = ((@adubo2 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo3gm = ((@adubo3 / analise.talhao.area) * 1000) / analise.metrosLineares %>
       <tbody>
       <tr>
        <td><%= @nome1 %></td>
        <td><%= @nome2 %></td>
        <td><%= @nome3 %></td>
        <td><%= valor_inteiro(@adubo1) %></td>
        <td><%= valor_inteiro(@adubo1gm) %></td>
        <td><%= valor_inteiro(@adubo2) %></td>
        <td><%= valor_inteiro(@adubo2gm) %></td>
        <td><%= valor_inteiro(@adubo3) %></td>
        <td><%= valor_inteiro(@adubo3gm) %></td> 
        <td><%= valor_emreais(@precoTotal) %></td>
        <td><%= valor_emreais(@precoHa) %></td>               
       </tr>
<% end %>
            <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
</table>

<%# Bloco Produção%>


<h2>Necessidade para Produção</h2>
<% @producao.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").each do |analise| %>

<table class="table table-condensed text-center">
    <thead>
      <tr class="info">
        <th class="text-center">Fazenda</th>
        <th class="text-center">Ano</th>
        <th class="text-center">Talhao</th>
        <th class="text-center">Area</th>
        <th class="text-center">Metros lineares</th>
        <th class="text-center">N</th>
        <th class="text-center">P</th>
        <th class="text-center">K</th>
      </tr>
    </thead>

<% @parametros.each do |parametro| %>
<% if parametro.ano == analise.ano 
    @parametro_parcelamento = parametro.parcelamento
    @parametro_producao_esperada = parametro.producao_esperada
  else
     0
  end %> <%# End do If%>
<% end %><%# End do parametro%>

  <% @necNproducaoTotal = analise.necNProducaoTotal(@parametro_producao_esperada) %>
  <% @necP2o5producaoTotal = analise.necP2o5ProducaoTotal(@parametro_producao_esperada) %>
  <% @necK2oproducaoTotal = analise.necK2oProducaoTotal(@parametro_producao_esperada) %>
    <tbody>
        <td class="active text-center"><%= analise.fazenda.nome %></td>
        <td class="active text-center"><%= analise.ano %></td>
        <td class="active text-center"><%= analise.talhao.nome %></td>
        <td class="active text-center"><%= analise.talhao.area %></td>
        <td class="active text-center"><%= valor_inteiro(analise.metrosLineares)%></td>        
        <td class="active text-center"><%= valor_inteiro(@necNproducaoTotal)%></td>
        <td class="active text-center"><%= valor_inteiro(@necP2o5producaoTotal)%></td>
        <td class="active"><%= valor_inteiro(@necK2oproducaoTotal)%></td>
    </tbody>

<table class="table table-condensed text-center"> <%# Table 3%>
          <thead>
            <tr>
              <th class="text-center">Adubo 1</th>
              <th class="text-center">Adubo 2</th>
              <th class="text-center">Adubo 3</th>
              <th class="text-center">Adubo1 (Kg)</th>
              <th class="text-center">Adubo1 g/m</th>
              <th class="text-center">Adubo2 (Kg)</th>
              <th class="text-center">Adubo2 g/m</th>
              <th class="text-center">Adubo3 (Kg)</th>
              <th class="text-center">Adubo3 g/m</th>
              <th class="text-center">Custo Total</th>
              <th class="text-center">Custo por Ha</th>
            </tr>
          </thead>
    <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto| %>
          <% @id1 = produto.id %>
          <% @nome1 = produto.nome %>
          <% @nitrogenio1 = (produto.nitrogenio_n)/100 %>
          <% @fosforo1 = produto.fosforo_p2o5/100 %>
          <% @potassio1 = produto.potassio_k2o/100 %>
          <% @adubo1preco = produto.preco %>
        <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto2| %>
          <% if produto2.id == @id1 %>
            <% break %>
          <% else %>
            <% @id2 = produto2.id %>
            <% @nome2 = produto2.nome %>
            <% @nitrogenio2 = produto2.nitrogenio_n/100 %>
            <% @fosforo2 = produto2.fosforo_p2o5/100 %>
            <% @potassio2 = produto2.potassio_k2o/100 %>
            <% @adubo2preco = produto2.preco %>
          <% end %>   
            <% @produtos.where("ano= ? AND tipo= ?", @parametro_ano, "Nutrição").each do |produto3| %>
              <% if produto3.id == @id1%>
                <% break %>
              <% elsif produto3.id == @id2%>
                <% break %>
              <% else %>
                <% @id3 = produto3.id %>
                <% @nome3 = produto3.nome %>
                <% @nitrogenio3 = produto3.nitrogenio_n/100 %>
                <% @fosforo3 = produto3.fosforo_p2o5/100 %>
                <% @potassio3 = produto3.potassio_k2o/100 %>
                <% @adubo3preco = produto3.preco %>
              <% end %>
         <% @equacao1x1 = @nitrogenio1 * @fosforo1 %>
         <% @equacao1x2 = @nitrogenio2 * @fosforo1 %>
         <% @equacao1x3 = @nitrogenio3 * @fosforo1 %>
         <% @equacao1x4 = @necNproducaoTotal * @fosforo1 %>
         <% @equacao2x1 = @fosforo1 * (-@nitrogenio1) %>
         <% @equacao2x2 = @fosforo2 * (-@nitrogenio1) %>
         <% @equacao2x3 = @fosforo3 * (-@nitrogenio1) %>
         <% @equacao2x4 = @necP2o5producaoTotal * (-@nitrogenio1) %>
         <% @equacao4x1 = @equacao1x1 + @equacao2x1 %>
         <% @equacao4x2 = @equacao1x2 + @equacao2x2 %>
         <% @equacao4x3 = @equacao1x3 + @equacao2x3 %>
         <% @equacao4x4 = @equacao1x4 + @equacao2x4 %>
         <% @equacao12x1 = @nitrogenio1 * @potassio1 %>
         <% @equacao12x2 = @nitrogenio2 * @potassio1 %>
         <% @equacao12x3 = @nitrogenio3 * @potassio1 %>
         <% @equacao12x4 = @necNproducaoTotal * @potassio1 %>
         <% @equacao3x1 = @potassio1 * (-@nitrogenio1) %>
         <% @equacao3x2 = @potassio2 * (-@nitrogenio1) %>
         <% @equacao3x3 = @potassio3 * (-@nitrogenio1) %>
         <% @equacao3x4 = @necK2oproducaoTotal * (-@nitrogenio1) %>
         <% @equacao5x1 = @equacao12x1 + @equacao3x1 %>
         <% @equacao5x2 = @equacao12x2 + @equacao3x2 %>
         <% @equacao5x3 = @equacao12x3 + @equacao3x3 %>
         <% @equacao5x4 = @equacao12x4 + @equacao3x4 %>
         <% @equacao6x1 = @equacao4x1 * @equacao5x2 %>
         <% @equacao6x2 = @equacao4x2 * @equacao5x2 %>
         <% @equacao6x3 = @equacao4x3 * @equacao5x2 %>
         <% @equacao6x4 = @equacao4x4 * @equacao5x2 %>
         <% @equacao7x1 = @equacao5x1 * (-@equacao4x2) %>
         <% @equacao7x2 = @equacao5x2 * (-@equacao4x2) %>
         <% @equacao7x3 = @equacao5x3 * (-@equacao4x2) %>
         <% @equacao7x4 = @equacao5x4 * (-@equacao4x2) %>
         <% @equacao8x1 = @equacao6x1 + @equacao7x1 %>
         <% @equacao8x2 = @equacao6x2 + @equacao7x2 %>
         <% @equacao8x3 = @equacao6x3 + @equacao7x3 %>
         <% @equacao8x4 = @equacao6x4 + @equacao7x4 %>                  

         <% if @equacao8x3 == 0 %>
            <% break %>
          <% else %>
            <% @adubo3 = @equacao8x4 / @equacao8x3 %></td>
          <% end %>
         <% if @equacao4x2 == 0 %>
            <% break %>
          <% else %>
         <% @adubo2 = (@equacao4x4 - (@adubo3*@equacao4x3)) / @equacao4x2 %></td>
          <% end %>
        <% if @nitrogenio1 == 0 %>
            <% break %>
          <% else %>
         <% @adubo1 = ((@necNproducaoTotal - ((@adubo2 * @nitrogenio2) + (@adubo3 * @nitrogenio3))) / @nitrogenio1) %></td>         
          <% end %> 

<% if @adubo1 < 0 || @adubo2 < 0 || @adubo3 < 0 %>

<% else %>
         <% @precoTotal = ((@adubo1 * (@adubo1preco/1000))) + ((@adubo2 * (@adubo2preco/1000))) + ((@adubo3 * (@adubo3preco/1000))) %>
         <% @precoHa = @precoTotal / analise.talhao.area %>
         <% @adubo1gm = ((@adubo1 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo2gm = ((@adubo2 / analise.talhao.area) * 1000) / analise.metrosLineares %>
         <% @adubo3gm = ((@adubo3 / analise.talhao.area) * 1000) / analise.metrosLineares %>
       <tbody>
       <tr>
        <td><%= @nome1 %></td>
        <td><%= @nome2 %></td>
        <td><%= @nome3 %></td>
        <td><%= valor_inteiro(@adubo1) %></td>
        <td><%= valor_inteiro(@adubo1gm) %></td>
        <td><%= valor_inteiro(@adubo2) %></td>
        <td><%= valor_inteiro(@adubo2gm) %></td>
        <td><%= valor_inteiro(@adubo3) %></td>
        <td><%= valor_inteiro(@adubo3gm) %></td> 
        <td><%= valor_emreais(@precoTotal) %></td>
        <td><%= valor_emreais(@precoHa) %></td>               
       </tr>
<% end %>
            <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
</table>
<%end%>


<%end%> <%# ano %>



