<%= wicked_pdf_stylesheet_link_tag 'pdf_stylesheet' %>
<%= wicked_pdf_stylesheet_link_tag 'application' %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<% unless request.format.to_sym == :pdf %>
<div class="row">
  <div class="col-xs-6">
    <h3>Opções</h3>
    <%= link_to 'Novo Parâmetro', new_parametro_path,:class => 'btn btn-default' %>
    <%= link_to "Gerar PDF", analises_geral_path(params.merge(:format => "pdf")), class: "btn btn-primary", :target => "_blank"%>

  </div>
  <div class="col-xs-6">
    <%= search_form_for @search, :class => "form-inline", url: analises_geral_path do |f| %>
    <h3>Filtro</h3>
    <%= f.label :ano_eq, "Ano:" %>
    <%= f.select :ano_eq, options_for_select(@ano), {:include_blank => true}, { :class => "form-control" }%>
    <%= f.label :fazenda_nome_cont, "Fazenda:" %>
    <%= f.select :fazenda_nome_cont, options_for_select(@fazenda), {:include_blank => true}, { :class => "form-control" } %>
    <%= f.submit :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%end%>


<% @analises.select("DISTINCT(ano)").order("ano desc").each do |p| %>
<% @parametro_ano = p.ano %>

<%# Bloco Calagem%>
  <% @sacasfazendas = 0 %>
  <% @calcariofazendas = 0 %>
    <% @analises.select("DISTINCT(fazenda_id)").where("(ano= ?)", @parametro_ano).each do |v| %>
    <% @qtdeSacasFazenda = 0 %>
    <% @totalcalcario = 0 %>
    <% @faz_id = v.fazenda_id %>
    <tr>
      <h2><%= v.fazenda.nome %></h2>
    </tr>
    
<div><!-- Início div Estimativa -->
<table class="table table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center" colspan="4"></th>
      <th class="text-center cabecalho" colspan="2">Média 2 anos</th>
      <th class="text-center cabecalho" colspan="3">PRODUÇÃO</th>
      <th class="text-center cabecalho" colspan="3">VEGETAÇÃO</th>
    </tr>
    <tr>
      <th class="text-center">Talhão</th>
      <th class="text-center">Situação</th>
      <th class="text-center">Safra</th>
      <th class="text-center">Área</th>
      <th class="text-center editavel">Litros/Sc</th>
      <th class="text-center editavel">Sc/Ha</th>
      <th class="text-center editavel">Litros / pé</th>
      <th class="text-center">Sc / Ha</th>
      <th class="text-center">Sc/Total</th>
      <th class="text-center">Litros / pé</th>
      <th class="text-center">Sc / Ha</th>
      <th class="text-center">Sc/Total</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @totalScProducao = 0 %>
    <% @analises.where("(fazenda_id= ? AND ano= ? AND profundidade= ?)", @faz_id, @parametro_ano,"0-20").order("talhao_id").each do |analise| %>
<% @talhao_id = analise.talhao_id %>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.situacao %></td>
        <td><%= best_in_place analise, :safra, :as => :select, :collection => {"1" => "13/14", "2" => "14/15", "3" => "15/16", "4" => "16/17", "5" => "17/18", "6" => "18/19", "7" => "19/20"} %></td>
        <td><%= analise.talhao.area %></td>
        <td class="editavel"><%= best_in_place analise, :litrosScMedia %></td>
        <td class="editavel"><%= best_in_place analise, :scHaMedia %></td>
        <td class="editavel"><%= best_in_place analise, :prodEsperada %></td>
        <td><%= valor_inteiro(analise.scHaProducao) %></td>
        <td><%= valor_inteiro(analise.scTotalProducao) %></td>
        <td><%= valor_umacasa(analise.ltPeVegetacao) %></td>
        <td><%= valor_inteiro(analise.scHaVegetacao) %></td>
        <td><%= valor_inteiro(analise.scTotalVegetacao) %></td>
      </tr>
  </tbody>
      <% @totalScProducao += analise.scTotalProducao if analise.scTotalProducao %>
<% end %>
      <tr>
        <td class="text-center" colspan="7"></td>
        <td>Total</td>
        <td><%= valor_inteiro(@totalScProducao) %></td>
      </tr>
</table>
<% @qtdeSacasFazenda += @totalScProducao if @totalScProducao if @qtdeSacasFazenda %>

<% @sacasfazendas += @qtdeSacasFazenda if @qtdeSacasFazenda %>

</div><!-- Fim div Estimativa -->


<div><!-- Início div Calagem-->
    <tr>
      <td><h2><b>Calagem - <%= @parametro_ano %> </b></h3></td>
    </tr>

    <table class="table table-condensed table-hover text-center">
      <thead>
        <tr>
          <th>Talhão</th>
          <th>Ph</th>
          <th>CTC a Ph 7</th>
          <th>V%</th>
          <th>Talhão area</th>
          <th>Ca</th>
          <th>Mg</th>
          <th>K</th>
          <th>Relação Ca:Mg:K</th>
          <th class="text-center editavel">Objetivo Ca</th>
          <th>Kg/ha CaO</th>
          <th class="text-center editavel">Corretivo</th>
          <th>CaO</th>
          <th>MgO</th>
          <th>PRNT</th>
          <th class="text-center editavel">% Aprov</th>
          <th>Kg/ha Corretivo</th>
          <th>Kg/ha Recomendado</th>
          <th>Regulagem / 50m</th>
          <th>Kg Corretivo Lavoura</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @calcariotalhao = 0 %>
        <% @analises.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
        <tr>
          <td><%= analise.talhao.nome %></td>
          <td><%= analise.ph %></td>
          <td><%= valor_duascasas(analise.ctcApH7) %></td>
          <td><%= valor_duascasas(analise.saturacaoBase) %></td>
          <td><%= analise.talhao.area %></td>
          <td><%= analise.calcio_ca %></td>
          <td><%= analise.magnesio_mg %></td>
          <td><%= valor_duascasas(analise.kcmolcConvertido) %></td>
          <td><%= valor_duascasas(analise.relacaocamgk) %></td>
          <td class="editavel"><%= best_in_place analise, :objetivoca %></td>
          <td><%= valor_duascasas(analise.kghacao) %></td>
          <td class="editavel"><%= best_in_place analise, :produto_id, :as => :select, :collection => Produto.where("ano= ?", @parametro_ano).all.map { |i| [i.id, i.nome] } %></td>
          <td><%= analise.produto.cao if analise.produto_id %></td>
          <td><%= analise.produto.mgo if analise.produto_id %></td>
          <td><%= analise.produto.prnt if analise.produto_id %></td>
          <td class="editavel"><%= best_in_place analise, :aprovcalcario %></td>
          <td><%= valor_duascasas(analise.kghacorretivo) %></td>
          <td class="editavel"><%= best_in_place analise, :kgharecomend %></td>
          <td><%= valor_duascasas(analise.regulagem) %></td>
          <td><%= valor_duascasas(analise.kglavouracalcario) %></td>
        </tr>
        <% @calcariotalhao += analise.kglavouracalcario if analise.kglavouracalcario %>
        <% end %>
          
    <% @totalcalcario += @calcariotalhao %>
        <tr>
          <th class="text-center"><b>TOTAL</b></th>   
          <th class="text-center" colspan="18"></th>
          <th class="text-center"><%= @totalcalcario %></th>
        </tr>
      </tbody>
    </table>
    <% @calcariofazendas += @totalcalcario %>
  </table>

</div><!--Fim div Calagem-->

<div><!--Inicio div Planejamento-->
    <tr>
      <td><h2><b>Planejamento Adubação - <%= @parametro_ano %> </b></h3></td>
    </tr>
    
    <table class="table table-condensed table-hover text-center">
      <thead class="text-center">
        <tr>
          <th>Talhão</th>
          <th>Ca Final</th>
          <th>Mg Final</th>
          <th>K Exigido</th>
          <th>Relação Final</th>
          <th>K Atual</th>
          <th>Objetivo K</th>
          <th>Necessidade K2O P+V</th>
          <th>Sobra / Falta K2O</th>
          <th>Recomendação K2O</th>
          <th>Necessidade N P+V</th>
          <th>Recomendação N</th>
          <th>P Atual</th>
          <th>Objetivo P Resina</th>
          <th>Sobra / Falta P</th>
          <th>Recomendação P2O5</th>
        </tr>
      </thead>
        <% @analises.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id").each do |analise| %>
      <tbody class="text-center">
        <tr>
          <td><%= valor_duascasas(analise.talhao.nome) %></td>
          <td><%= valor_duascasas(analise.caFinal) %></td>
          <td><%= valor_duascasas(analise.mgFinal) %></td>
          <td><%= valor_duascasas(analise.kExigido) %></td>
          <td><%= valor_duascasas(analise.relacaocamgkFinal) %></td>
          <td><%= valor_duascasas(analise.kcmolcConvertido) %></td>
          <td class="editavel"><%= best_in_place analise, :objetivok %></td>
          <td><%= valor_duascasas(analise.necessidadek2opv) %></td>
          <td><%= valor_duascasas(analise.sobrafaltak20) %></td>
          <td class="editavel"><%= best_in_place analise, :k2orecomend %></td>
          <td><%= valor_duascasas(analise.necessidadenpv) %></td>
          <td class="editavel"><%= best_in_place analise, :nrecomend %></td>
          <td><%= valor_duascasas(analise.fosforo_p) %></td>
          <td class="editavel"><%= best_in_place analise, :objetivop %></td>
          <td><%= valor_duascasas(analise.sobrafaltap) %></td>
          <td class="editavel"><%= best_in_place analise, :p2o5recomend %></td>
          
          
        </tr>
      </tbody>
        <%end%>
    </table>
</div><!--Fim div Planejamento-->

  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3"><!--Inicio Totais-->
      <table class="table table-condensed table-striped"> <%# Table 4%>
        <thead>
          <tr>
            <th class="text-center"><%= @parametro_ano%></th>
            <th class="text-center"><b>Sacas</b></th>
            <th class="text-center"><b>Calcário</b></th>    
            <th class="text-center"><b></b>Qtde Sacas</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><b>Total</b></td>
            <td class="text-center"><%= valor_inteiro(@qtdeSacasFazenda) %></td>
            <td class="text-center"><%= valor_inteiro(@totalcalcario) %></td>
            <td class="text-center"><%= valor_duascasas(0)%></td>
          </tr>
        </tbody>
      </table><%# Fim Table 4%>
    </div><%# Fim Div%>
    </div><%# Fim Div 12%>
    
    <% end %> <!-- Fim do Do Fazendas -->
  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3"><!--Inicio Totais-->
      <table class="table table-condensed table-striped"> <%# Table 4%>
        <thead>
          <tr>
            <th class="text-center"><%= @parametro_ano%></th>
            <th class="text-center"><b>Todas</b></th>
            <th class="text-center"><b>Total Complementar</b></th>    
            <th class="text-center"><b></b>Qtde Sacas</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td class="text-center"><b>Plantio</b></td>
            <td class="text-center"><%= valor_duascasas(0) %></td>
            <td class="text-center"><%= valor_duascasas(0) %></td>
            <td class="text-center"><%= valor_duascasas(0)%></td>
          </tr>
          <tr>
            <td class="text-center"><b>Produção</b></td>
            <td class="text-center"><%= valor_inteiro(@sacasfazendas) %></td>
            <td class="text-center"></td>
            <td class="text-center"><%= valor_duascasas(0)%></td>
          </tr>

          <tr>
            <td class="text-center"><b>Total</b></td>
            <td class="text-center"><%= valor_duascasas(@calcariofazendas) %></td>
            <td class="text-center"><%= valor_duascasas(0) %></td>
            <td class="text-center"><%= valor_inteiro(0) %></td>
          </tr>
        </tbody>
      </table><%# Fim Table 4%>
    </div><%# Fim Div%>
    </div><%# Fim Div 12%>
<% end %><!--Fim each analises - ANO-->
