
<h1>Listagem Análises</h1>

<%= link_to 'Nova Analise', new_analise_path,:class => 'btn btn-default' %>


<% @parametros.each do |parametro| %>
   <tr>
     <td><h2  class="text-center"><%= parametro.ano %></h2></td>
   </tr>      
<% @parametro_ano = parametro.ano %>

  <% @fazendas.each do |fazenda| %>
    <tr>
      <td><h3><%= fazenda.nome %></h3></td>
    </tr>
  <% @fazenda_id = fazenda.id %>
 
<table class="table table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center" colspan="5"></th>
      <th class="text-center" colspan="3">mg/ dm³</th>
      <th class="text-center" colspan="4">cmol/ dm³</th>
      <th class="text-center" >dag/ Kg</th>
      <th class="text-center" >mg/ L</th>
      <th class="text-center" colspan="6">mg/ dm³</th>
      <th class="text-center" colspan="2"></th>
    </tr>
    <tr>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center"></th>
      <th class="text-center">5.5 - 6</th>
      <th class="text-center">81,9 - 156</th>
      <th class="text-center">10 - 20</th>
      <th class="text-center"></th>
      <th class="text-center">2.2 - 3.7</th>
      <th class="text-center">0.6 - 1</th>
      <th class="text-center">0 - 0.5</th>
      <th class="text-center">3 - 5</th>
      <th class="text-center">MO</th>
      <th class="text-center">P_rem</th>
      <th class="text-center">4 - 6</th>
      <th class="text-center">50 - 100</th>
      <th class="text-center">10 - 15</th>
      <th class="text-center">1 - 1.5</th>
      <th class="text-center">0.6 - 1</th>
      <th class="text-center">S</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th class="text-center">Talhão</th>
      <th class="text-center">Situação</th>
      <th class="text-center">Profundidade</th>
      <th class="text-center">Ano</th>
      <th class="text-center">Ph</th>
      <th class="text-center">K</th>
      <th class="text-center">P</th>
      <th class="text-center">Na</th>
      <th class="text-center">Ca</th>
      <th class="text-center">Mg</th>
      <th class="text-center">Al</th>
      <th class="text-center">H_al</th>
      <th class="text-center">MO</th>
      <th class="text-center">P_rem</th>
      <th class="text-center">Zn</th>
      <th class="text-center">Fe</th>
      <th class="text-center">Mn</th>
      <th class="text-center">Cu</th>
      <th class="text-center">B</th>
      <th class="text-center">S</th>
      <th class="text-center">Prod Esperada</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
    <% @analises.where("(fazenda_id= ? AND ano= ?)", @fazenda_id, @parametro_ano).each do |analise| %>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.situacao %></td>
        <td><%= analise.profundidade %></td>
        <td><%= analise.ano %></td>
        <% if analise.ph >= 5.5 && analise.ph <= 6 %>
          <td class="alert-success"><%= analise.ph %></td>
        <% else %>
          <td class="alert-danger"><%= analise.ph %></td>
        <% end %>
        <% if analise.potassio_k >= 81.9 && analise.potassio_k <= 156 %>
          <td class="alert-success"><%= analise.potassio_k %></td>
        <% else %>
          <td class="alert-danger"><%= analise.potassio_k %></td>
        <% end %>
        <% if analise.fosforo_p >= 10 && analise.fosforo_p <= 20 %>
          <td class="alert-success"><%= analise.fosforo_p %></td>
        <% else %>
          <td class="alert-danger"><%= analise.fosforo_p %></td>
        <% end %>
        <td><%= analise.sodio_na %></td>
        <% if analise.calcio_ca >= 2.2 && analise.calcio_ca <= 3.7 %>
          <td class="alert-success"><%= analise.calcio_ca %></td>
        <% else %>
          <td class="alert-danger"><%= analise.calcio_ca %></td>
        <% end %>
        <% if analise.magnesio_mg >= 0.6 && analise.magnesio_mg <= 1 %>
          <td class="alert-success"><%= analise.magnesio_mg %></td>
        <% else %>
          <td class="alert-danger"><%= analise.magnesio_mg %></td>
        <% end %>
        <% if analise.aluminio_al >= 0 && analise.aluminio_al <= 0.5 %>
          <td class="alert-success"><%= analise.aluminio_al %></td>
        <% else %>
          <td class="alert-danger"><%= analise.aluminio_al %></td>
        <% end %>
        <% if analise.h_al >= 3 && analise.h_al <= 5 %>
          <td class="alert-success"><%= analise.h_al %></td>
        <% else %>
          <td class="alert-danger"><%= analise.h_al %></td>
        <% end %>
        <td><%= analise.mat_organica %></td>
        <td><%= analise.p_rem %></td>
        <% if analise.zinco_zn >= 4 && analise.zinco_zn <= 6 %>
          <td class="alert-success"><%= analise.zinco_zn %></td>
        <% else %>
          <td class="alert-danger"><%= analise.zinco_zn %></td>
        <% end %>
        <% if analise.ferro_fe >= 50 && analise.ferro_fe <= 100 %>
          <td class="alert-success"><%= analise.ferro_fe %></td>
        <% else %>
          <td class="alert-danger"><%= analise.ferro_fe %></td>
        <% end %>
        <% if analise.manganes_mn >= 10 && analise.manganes_mn <= 15 %>
          <td class="alert-success"><%= analise.manganes_mn %></td>
        <% else %>
          <td class="alert-danger"><%= analise.manganes_mn %></td>
        <% end %>
        <% if analise.cobre_cu >= 1 && analise.cobre_cu <= 1.5 %>
          <td class="alert-success"><%= analise.cobre_cu %></td>
        <% else %>
          <td class="alert-danger"><%= analise.cobre_cu %></td>
        <% end %>
        <% if analise.boro_b >= 0.6 && analise.boro_b <= 1 %>
          <td class="alert-success"><%= analise.boro_b %></td>
        <% else %>
          <td class="alert-danger"><%= analise.boro_b %></td>
        <% end %>
        <td><%= analise.enxofre_s %></td>
        <td><%= analise.prodEsperada %></td>
        <td><% link_to 'Show', analise %></td>
        <td><%= link_to 'Edit', edit_analise_path(analise) %></td>
        <td><%= link_to 'Destroy', analise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
<% end %>
</table>
<%end%>
<%end%>