
<h1>Listagem Análises</h1>

<%= link_to 'Nova Analise', new_analise_path,:class => 'btn btn-default' %>


<% @parametros.each do |parametro| %>
   <tr>
     <td><h2  class="text-center"><%= parametro.ano %></h2></td>
   </tr>      
<% @parametro_ano = parametro.ano %>

  <% @fazendas.each do |fazenda| %>
    <tr>
      <td><h3><%= fazenda.nome %></h3></td>
    </tr>
  <% @fazenda_id = fazenda.id %>
 

<table class="table table-condensed table-hover text-center">
  <thead>
    <tr>
      <th class="text-center">Talhão</th>
      <th class="text-center">Situação</th>
      <th class="text-center">Profundidade</th>
      <th class="text-center">Ano</th>
      <th class="text-center">Ph</th>
      <th class="text-center">K</th>
      <th class="text-center">P</th>
      <th class="text-center">Na</th>
      <th class="text-center">Ca</th>
      <th class="text-center">Mg</th>
      <th class="text-center">Al</th>
      <th class="text-center">H_al</th>
      <th class="text-center">MO</th>
      <th class="text-center">P_rem</th>
      <th class="text-center">Zn</th>
      <th class="text-center">Fe</th>
      <th class="text-center">Mn</th>
      <th class="text-center">Co</th>
      <th class="text-center">B</th>
      <th class="text-center">S</th>
      <th colspan="2"></th>
    </tr>
      <tr>
      <th class="text-center" colspan="5"></th>
      <th class="text-center" colspan="3">mg/ dm³</th>
      <th class="text-center" colspan="4">cmol/ dm³</th>
      <th class="text-center" >dag/ Kg</th>
      <th class="text-center" >mg/ L</th>
      <th class="text-center" colspan="6">mg/ dm³</th>
      <th class="text-center" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
    <% @analises.where("(fazenda_id= ? AND ano= ?)", @fazenda_id, @parametro_ano).each do |analise| %>
        <td><%= analise.talhao.nome %></td>
        <td><%= analise.situacao %></td>
        <td><%= analise.profundidade %></td>
        <td><%= analise.ano %></td>
        <td><%= analise.ph %></td>
        <td><%= analise.potassio_k %></td>
        <td><%= analise.fosforo_p %></td>
        <td><%= analise.sodio_na %></td>
        <td><%= analise.calcio_ca %></td>
        <td><%= analise.magnesio_mg %></td>
        <td><%= analise.aluminio_al %></td>
        <td><%= analise.h_al %></td>
        <td><%= analise.mat_organica %></td>
        <td><%= analise.p_rem %></td>
        <td><%= analise.zinco_zn %></td>
        <td><%= analise.ferro_fe %></td>
        <td><%= analise.manganes_mn %></td>
        <td><%= analise.cobre_cu %></td>
        <td><%= analise.boro_b %></td>
        <td><%= analise.enxofre_s %></td>
        <td><% link_to 'Show', analise %></td>
        <td><%= link_to 'Edit', edit_analise_path(analise) %></td>
        <td><%= link_to 'Destroy', analise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
<% end %>
</table>
<%end%>
<%end%>