<%= wicked_pdf_stylesheet_link_tag 'pdf_stylesheet' %>
<%= wicked_pdf_stylesheet_link_tag 'application' %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

   <% unless request.format.to_sym == :pdf %>

<div class="row">
<div class="col-md-6">
<h3>Opções</h3>
  <%= link_to "Gerar PDF", analises_micronutrientes_path(params.merge(:format => "pdf")), class: "btn btn-primary", :target => "_blank"%>
</div>
<div class="col-xs-6">
<%= search_form_for @search, :class => "form-inline", url: analises_micronutrientes_path do |f| %>
<h3>Filtro</h3>
  <%= f.label :ano_eq, "Ano:" %>
  <%= f.select :ano_eq, options_for_select(@ano), {:include_blank => true}, { :class => "form-control" }%>
  <%= f.label :fazenda_nome_cont, "Fazenda:" %>
  <%= f.select :fazenda_nome_cont, options_for_select(@fazenda), {:include_blank => true}, { :class => "form-control" } %>
  <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</div>
</div>
<%end%>


<%# Bloco Micronutrientes%>
<table class="table table-condensed">

<% @analises.select("DISTINCT(ano)").each do |p| %>
<% @parametro_ano = p.ano %>

<div class="col-xs-12 col-md-12"> <%# Divisão 1%>

    <table class="table table-condensed text-center"><%# Table 2%>

    </table><%# Table 2%>

  <% @necBoroSomaTotalHa = 0 %>
  <% @necCobreSomaTotalHa = 0 %>
  <% @necManganesSomaTotalHa = 0 %>
  <% @necZincoSomaTotalHa = 0 %>

<h1 class="text-center">Necessidade de Adubação Micronutrientes</h1>

  <% @analises.select("DISTINCT(fazenda_id)").where("(ano= ?)", @parametro_ano).each do |v| %>
  <% @faz_id = v.fazenda_id %>

<table class="table table-condensed text-center"> <%# Table 1%>
  
      <tbody><%# Body 1%>
  
  <% @necBoroSoma = 0 %>
  <% @necCobreSoma = 0 %>
  <% @necManganesSoma = 0 %>
  <% @necZincoSoma = 0 %>
  <% @necBoroSomaHa = 0 %>
  <% @necCobreSomaHa = 0 %>
  <% @necManganesSomaHa = 0 %>
  <% @necZincoSomaHa = 0 %>


<table class="table table-condensed text-center"> <%# Table 3%>
          <thead>
            <tr>
              <th>Fazenda</th>
              <th>Ano</th>
              <th>Talhão</th>
              <th>Área</th>
              <th>Boro</th>
              <th>Nec B (kg/ha)</th>
              <th>B Total (Kg)</th>
              <th>Cobre</th>
              <th>Nec Cu (kg/ha)</th>
              <th>Cu Total (Kg)</th>
              <th>Manganês</th>
              <th>Nec Mn (kg/ha)</th>
              <th>Mn Total (Kg)</th>
              <th>Zinco</th>
              <th>Nec Zn (kg/ha)</th>
              <th>Zn Total (Kg)</th>
            </tr>
          </thead>

<% @analises.where("(fazenda_id= ? AND ano= ? AND profundidade!= ?)", @faz_id, @parametro_ano, "20-40").order("talhao_id ASC").each do |analise| %>

	<% @necBoro = analise.necBoro %>
	<% @necCobre = analise.necCobre %>
	<% @necManganes = analise.necManganes %>
	<% @necZinco = analise.necZinco %>
  <% @necBoroHa = analise.necBoro * analise.talhao.area %>
  <% @necCobreHa = analise.necCobre * analise.talhao.area%>
  <% @necManganesHa = analise.necManganes * analise.talhao.area%>
  <% @necZincoHa = analise.necZinco * analise.talhao.area%>  

  <tbody>
   <tr>
    <td><%= analise.fazenda.nome %></td>
    <td><%= analise.ano %></td>
    <td><%= analise.talhao.nome %></td>
    <td><%= analise.talhao.area %></td>
    <td><%= analise.boro_b %></td>
    <td><%= valor_inteiro(@necBoro) %></td>
    <td class="info text-center"><%= valor_inteiro(@necBoroHa) %></td>
    <td><%= analise.cobre_cu %></td>
    <td><%= valor_inteiro(@necCobre)%></td>
    <td class="info text-center"><%= valor_inteiro(@necCobreHa) %></td>
    <td><%= analise.manganes_mn %></td>
    <td><%= valor_inteiro(@necManganes) %></td>
    <td class="info text-center"><%= valor_inteiro(@necManganesHa) %></td>
    <td><%= analise.zinco_zn %></td>
    <td><%= valor_inteiro(@necZinco)%></td>
    <td class="info text-center"><%= valor_inteiro(@necZincoHa) %></td>
   </tr>  


  <% @necBoroSomaHa += @necBoroHa %>
  <% @necCobreSomaHa += @necCobreHa %>
  <% @necManganesSomaHa += @necManganesHa %>
  <% @necZincoSomaHa += @necZincoHa %>  
<% end %>

  <tr>
    <th class="text-center"><b>Total</b></th>
    <th colspan="5"></th>
    <th class="text-center"><%= valor_inteiro(@necBoroSomaHa) %></th>
    <th colspan="2"></th>
    <th class="text-center"><%= valor_inteiro(@necCobreSomaHa) %></th>
    <th colspan="2"></th>
    <th class="text-center"><%= valor_inteiro(@necManganesSomaHa) %></th>
    <th colspan="2"></th>
    <th class="text-center"><%= valor_inteiro(@necZincoSomaHa) %></th>
  </tr>


  <% @necBoroSomaTotalHa += @necBoroSomaHa %>
  <% @necCobreSomaTotalHa += @necCobreSomaHa %>
  <% @necManganesSomaTotalHa += @necManganesSomaHa %>
  <% @necZincoSomaTotalHa += @necZincoSomaHa %>
   
  </tbody> 
</table> <%# Table 3%>
<% end %> <%# Fim Do Farm 1%> 
    </tbody><%# Fim Do Body 1%>
  </table> <%# Fim Table 1%>
</div> <%# Fim Divisão 1%>

<%# Fim Bloco Micronutrientes%>

<div class="col-md-6 col-md-offset-3">
<table class="table table-condensed table-striped"> <%# Table 4%>
  <thead>
  <tr>
    <th class="text-center"><%= @parametro_ano%></th>
    <th class="text-center"><b>Total Boro</b></th>
    <th class="text-center"><b>Total Cobre</b></th>
    <th class="text-center"><b>Total Manganês</b></th>    
    <th class="text-center"><b>Total Zinco</b></th>    
  </tr> 
  </thead>
  <tbody>
    <tr>
    <td class="text-center"><b>Total</b></td>
    <td class="text-center"><%= valor_duascasas(@necBoroSomaTotalHa) %></td>
    <td class="text-center"><%= valor_duascasas(@necCobreSomaTotalHa) %></td>
    <td class="text-center"><%= valor_duascasas(@necManganesSomaTotalHa) %></td>
    <td class="text-center"><%= valor_duascasas(@necZincoSomaTotalHa) %></td>
  </tr>

  </tbody>
</table><%# Fim Table 4%>
</div><%# Fim Div%>

<% end %> <%# End do ANO %>
