<p>
  <strong>Fazenda:</strong>
  <%= @analise.fazenda %>
</p>

<p>
  <strong>Talhao:</strong>
  <%= @analise.talhao %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @analise.situacao %>
</p>

<p>
  <strong>Profundidade:</strong>
  <%= @analise.profundidade %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @analise.ano %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @analise.ph %>
</p>

<p>
  <strong>Potassio k:</strong>
  <%= @analise.potassio_k %>
</p>

<p>
  <strong>Fosforo p:</strong>
  <%= @analise.fosforo_p %>
</p>

<p>
  <strong>Sodio na:</strong>
  <%= @analise.sodio_na %>
</p>

<p>
  <strong>Calcio ca:</strong>
  <%= @analise.calcio_ca %>
</p>

<p>
  <strong>Magnesio mg:</strong>
  <%= @analise.magnesio_mg %>
</p>

<p>
  <strong>Aluminio al:</strong>
  <%= @analise.aluminio_al %>
</p>

<p>
  <strong>H al:</strong>
  <%= @analise.h_al %>
</p>

<p>
  <strong>Mat organica:</strong>
  <%= @analise.mat_organica %>
</p>

<p>
  <strong>P rem:</strong>
  <%= @analise.p_rem %>
</p>

<p>
  <strong>Zinco zn:</strong>
  <%= @analise.zinco_zn %>
</p>

<p>
  <strong>Ferro fe:</strong>
  <%= @analise.ferro_fe %>
</p>

<p>
  <strong>Manganes mn:</strong>
  <%= @analise.manganes_mn %>
</p>

<p>
  <strong>Cobre cu:</strong>
  <%= @analise.cobre_cu %>
</p>

<p>
  <strong>Boro b:</strong>
  <%= @analise.boro_b %>
</p>

<p>
  <strong>Enxofre s:</strong>
  <%= @analise.enxofre_s %>
</p>

<%= link_to 'Edit', edit_analise_path(@analise) %> |
<%= link_to 'Back', analises_path %>
