<p>
  <strong>Fazenda:</strong>
  <%= @talhao.fazenda.nome %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @talhao.nome %>
</p>

<p>
  <strong>Cultura:</strong>
  <%= @talhao.cultura %>
</p>

<p>
  <strong>Variedade:</strong>
  <%= @talhao.variedade %>
</p>

<p>
  <strong>Ano plantio:</strong>
  <%= @talhao.ano_plantio %>
</p>

<p>
  <strong>Area:</strong>
  <%= @talhao.area %>
</p>

<p>
  <strong>Esp ruas:</strong>
  <%= @talhao.esp_ruas %>
</p>

<p>
  <strong>Esp plantas:</strong>
  <%= @talhao.esp_plantas %>
</p>

<p>
  <strong>Argila:</strong>
  <%= @talhao.argila %>
</p>

<p>
  <strong>Silte:</strong>
  <%= @talhao.silte %>
</p>

<p>
  <strong>Areia:</strong>
  <%= @talhao.areia %>
</p>


<%= link_to 'Edit', edit_talhao_path(@talhao) %> |
<%= link_to 'Back', talhaos_path %>
