<div class="container-fluid table-responsive">
<h1>Listagem das Fazendas</h1>

<%= link_to 'Nova Fazenda', new_fazenda_path,:class => 'btn btn-default' %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <% #<th>User</th>%>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fazendas.each do |fazenda| %>
      <tr>
        <td><%= fazenda.nome %></td>
        <td><%= fazenda.descricao %></td>
        <td><% fazenda.user_id %></td>
        <td><% link_to 'Show', fazenda %></td>
        <td ><%= link_to 'Edit', edit_fazenda_path(fazenda) %></td>
        <td><%= link_to 'Destroy', fazenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>


