<%= simple_form_for(@produto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
    <%= f.input :ano %>
    <%= f.input :nome %>
    <%= f.input :tipo, collection: ["Nutrição","Corretivo", "Foliar"] %>
    <%= f.input :preco, label: "Preço (R$/Ton)" %>
    <%= f.input :custo_op %>
    <%= f.input :nitrogenio_n %>
      </div>
      <div class="col-md-4">
    <%= f.input :fosforo_p2o5 %>
    <%= f.input :potassio_k2o %>
    <%= f.input :calcio_ca %>
    <%= f.input :magnesio_mg %>
    <%= f.input :enxofre_s %>
      </div>
      <div class="col-md-4">
    <%= f.input :boro_b %>
    <%= f.input :cobre_cu %>
    <%= f.input :ferro_fe %>
    <%= f.input :manganes_mn %>
    <%= f.input :zinco_zn %>
      </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
</div>
<% end %>
