<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @produto.tipo %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @produto.preco %>
</p>

<p>
  <strong>Custo op:</strong>
  <%= @produto.custo_op %>
</p>

<p>
  <strong>Nitrogenio n:</strong>
  <%= @produto.nitrogenio_n %>
</p>

<p>
  <strong>Fosforo p2o5:</strong>
  <%= @produto.fosforo_p2o5 %>
</p>

<p>
  <strong>Potassio k2o:</strong>
  <%= @produto.potassio_k2o %>
</p>

<p>
  <strong>Calcio ca:</strong>
  <%= @produto.calcio_ca %>
</p>

<p>
  <strong>Magnesio mg:</strong>
  <%= @produto.magnesio_mg %>
</p>

<p>
  <strong>Enxofre s:</strong>
  <%= @produto.enxofre_s %>
</p>

<p>
  <strong>Boro b:</strong>
  <%= @produto.boro_b %>
</p>

<p>
  <strong>Cobre cu:</strong>
  <%= @produto.cobre_cu %>
</p>

<p>
  <strong>Ferro fe:</strong>
  <%= @produto.ferro_fe %>
</p>

<p>
  <strong>Manganes mn:</strong>
  <%= @produto.manganes_mn %>
</p>

<p>
  <strong>Zinco zn:</strong>
  <%= @produto.zinco_zn %>
</p>

<p>
  <strong>CaO:</strong>
  <%= @produto.cao %>
</p>
<p>
  <strong>MgO:</strong>
  <%= @produto.mgo %>
</p>
<p>
  <strong>PRNT:</strong>
  <%= @produto.prnt %>
</p>
<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
