<p>
  <strong>Ano:</strong>
  <%= @vargesso.ano %>
</p>

<p>
  <strong>Profundidade:</strong>
  <%= @vargesso.profundidade %>
</p>

<p>
  <strong>Areaaplicacao:</strong>
  <%= @vargesso.areaAplicacao %>
</p>

<p>
  <strong>Teorcalcio:</strong>
  <%= @vargesso.teorCalcio %>
</p>

<%= link_to 'Edit', edit_vargesso_path(@vargesso) %> |
<%= link_to 'Back', vargessos_path %>
